<div class="product-card">
    <div class="product-img">
        <img class="card-img-top" [src]="product.image" alt="Card image cap">
    </div>
    <div class="product-card-inner-container">
        <div class="product-card-title">{{product.title}}</div>
        <div class="prooduct-card-text-price">{{product.price | currency:'Rs.'}}</div>
        <!-- <button *ngIf="isAdmin" class="btn btn-primary btn-sm add-btn" (click)="addToCart(product.product_id)">Add to
            Cart</button> -->
        <div class="product-button-container">
            <button *ngIf="isAdmin" class="btn btn-primary btn-sm product-btn-edit" (click)="editproduct(product.product_id)">Edit</button>
            <button *ngIf="isAdmin" class="btn btn-danger btn-sm product-btn-delete" (click)="deleteProduct(product.product_id)">Delete</button>
        </div>
    </div>
</div>