img {
    height: 150px;
    width: 10rem;
}

.product-card {
    /* padding: 20px; */
    margin: 20px 0;
    border-radius: 2px;
    z-index: 10;
    box-shadow: 0 2px 3px #9b3af745;
    background-color: rgb(255, 255, 255);
    border-color: rgb(245, 244, 244);
    display: flex;
    flex-direction: column;
}

.product-card-inner-container {
    margin: 10px, 10px, 10px, 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.product-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-btn-edit {
    width: 60px;
    text-align: left;
}

.product-btn-delete {
    width: 60px;
    text-align: right;
}

.product-button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;
}

.add-btn {
    width: 100px;
    align-self: center;
}

.prooduct-card-text-price {
    color: rgb(247, 148, 36);
    margin-bottom: 10px;
    font-weight: bold;
}

.product-card-title {
    margin-top: 10px;
    color: rgb(21, 34, 73);
    font-size: medium;
    font-weight: bold;
}