.container {
  position: fixed;
  left: 350px;
  padding: 0;
  margin: 0;
  background-color: #ff00ff;
}

.left-element {
  display: inline-block;
  position: absolute;
  left: 0;
}

.right-element {
  width: 30%;
  display: inline-block;
  position: absolute;
  right:50px;
}
