<h3 style="color:#0b5ed7">My-Orders</h3>

<br>
<div class="card card-description left-element" style="width: 60%">
<table class="table ">
  <thead>
  <tr class="card-description">
    <th scope="col">Order ID</th>
    <th scope="col">Receipent name</th>
    <th scope="col">Delivery Address</th>
    <th scope="col"> Price </th>
    <th scope="col">Date</th>

  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let order of myorders | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index" [class.active]="i ==page">
  <tr (click)="expandCol(order,i)" [style.background-color]="i==this.index? '#34ebd8':''">
    <td>{{order.order_id}}</td>
    <td>
      {{order.name}}

    </td>
    <td>{{order.address}}</td>
    <td>Rs. {{order.total_price}}</td>
    <td>{{order.order_date}}</td>
  <!--  <td> <a href="">show items</a></td>
  -->
  </tr>

  </ng-container>




  </tbody>
</table>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)">
    </pagination-controls>
  </div>

</div>
<div *ngIf="expand" class="right-element">
  <app-order-items [order]="expandedOrder"></app-order-items>
</div>
