<div>
    <app-navbar></app-navbar>

    <div class="container">



        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-6">
                            <h4 class="form-title">Orders Details</h4>

                            <div class="horizontal-line"></div>

                            <form class="navbar-form" [formGroup]="searchForm">
                                <div class="input-group no-border">
                                    <input type="text" value="userName" class="form-control" placeholder="Search by customer name" formControlName="userName">
                                    <!-- <i class="material-icons">search</i> -->
                                    <button class="btn btn-primary" (click)="searchByName()">search</button>
                                    <div class="ripple-container"></div>
                                </div>

                                <p></p>


                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" (dateSelect)="selectDate(model)" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [ngModelOptions]="{standalone: true}">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                        </div>
                                    </div>
                                </div>


                                <div class="input-group no-border">
                                    <!-- <input type="text" value="userName" class="form-control" placeholder="Search by customer name"  formControlName="userName"> -->
                                    <!-- <i class="material-icons">search</i> -->
                                    <button class="btn btn-success" (click)="clearFilters()">Clear Filters</button>
                                    <div class="ripple-container"></div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p></p>



    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Order Total Amount</th>
                    <th scope="col">Order Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries; index as i">
                    <th scope="row"></th>
                    <td>

                        {{ country.order_id }}
                    </td>
                    <td>{{ country.name }}</td>
                    <td>Rs. {{ country.total_price }}</td>
                    <td>{{ country.orderDate }}</td>
                </tr>

                <!-- <tr>
        <td>1</td>
        <td>Item 1</td>
        <td>$1</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Item 2</td>
        <td>$2</td>
      </tr> -->
            </tbody>
        </table>
    </div>
</div>